click
colorlog
pydantic
sqlalchemy
ipykernel
requests
tqdm
psycopg2
reportlab
python-dotenv
transformers
torch
nltk
unstructured
langdetect
pdfminer.six
pi_heif
unstructured-inference
pdf2image
docx
gensim
pikepdf
scrapy
selenium
webdriver-manager

-c constraints.txt
